@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body
{
    background-color: #EBF2FA;
    background-image: url(assets/bgimage.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.header
{
    text-align: center;
    padding: 20px;
    background-image: url();
}
.headermainPic
{
    border-radius: 15px;
    width: 1500px;
    max-width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.3);
}
.headerTxt
{
    color: #023e8a;
    font-size: 50px;
    font-weight: bolder;
    background: none;
}
.quote
{
    text-align: center;
    font-size: 60px;
    color: #FDFDFD;
    text-shadow: 0px 3px rgba(0,0,0,0.6);
    font-family: 'Great Vibes', cursive;
}
.aboutSec
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 40px;
    flex-wrap: wrap;
    max-width: 1650px;
    margin: 50px auto;
}
.aboutSec > a
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutContent
{
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutImage
{
    flex: 1 1 400px;
}
.video
{
    width: 800px;
    max-width: 100%;
    border: 3px solid #023e8a;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}
.aboutTxt
{
    max-width: 600px;
    color: #FDFDFD;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
    font-size: 30px;
    background-color: #023e8a;
    padding: 20px;
    border-radius: 15px;
    text-align: justify;
    margin-top: 5px;
}
.abtBtns
{
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    background-color: #023e8a;
    border: none;
    font-weight: bolder;
    color: #FDFDFD;
}
.abtBtns:hover
{
    color: #e0e0e0;
    background-color: #0466c8;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.galBtns
{
    padding: 20px;
    font-size: xx-large;
    background-color: #FDFDFD;
    border: none;
    font-weight: bolder;
    color: #023e8a;
}
.galBtns:hover
{
    color: #e0e0e0;
    background-color: #0466c8;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.imgSec
{
    display: flex;
    gap: 70px;
    font-weight: bolder;
    padding: 40px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #023e8a;
    max-width: 1650px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.3);
}
.imgSec img
{
    width: 600px;
    max-width: 100%;
    border: 3px solid #FDFDFD;
}
.imgTxt
{
    max-width: 600px;
    color: #FDFDFD;
    font-size: 50px;
    margin-top: 75px;
    text-align: justify;
}
.mainContent
{
    background-image: url(assets/contentbg.jpg);
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px -3px 10px 2px rgba(0,0,0,0.3);
}

@media (max-width: 1024px)
{
    .headermainPic
    {
        width: 90%;
    }
    .headerTxt
    {
        font-size: 36px;
    }
    .quote
    {
        font-size: 45px;
    }
    .video
    {
        width: 90%;
    }
    .aboutTxt
    {
        font-size: 22px;
        max-width: 90%;
    }
    .imgSec img
    {
        width: 420px;
    }
    .imgTxt
    {
        font-size: 36px;
        margin-top: 30px;
    }
    .abtBtns,
    .galBtns
    {
        font-size: large;
        padding: 15px;
    }
}

@media (max-width: 600px)
{
    .header img,
    .headermainPic
    {
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .headerTxt
    {
        font-size: 24px;
    }
    .quote
    {
        font-size: 30px;
    }
    .aboutSec
    {
        max-width: 100%;
        padding: 20px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .aboutContent
    {
        width: 100%;
    }
    .aboutImage
    {
        width: 100%;
    }
    .video
    {
        width: 100%;
    }
    .aboutTxt
    {
        font-size: 15px;
        max-width: 100%;
    }
    .imgSec
    {
        max-width: 100%;
        padding: 20px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .imgSec img
    {
        width: 95%;
    }
    .imgTxt
    {
        font-size: 20px;
        margin-top: 10px;
        max-width: 100%;
    }
    .abtBtns,
    .galBtns
    {
        padding: 10px;
        font-size: large;
        width: 100%;
    }
    .mainBtns
    {
        padding: 10px;
        font-size: large;
    }
}